<div class="col-sm-3 col-md-2 sidebar">
    <div class="sidebar_box">
        <h3 class="sidebar_title">Kategorien</h3>
        <ul class="list-inline categories">
            <li><a href="#"><i class="glyphicon glyphicon-music"></i>Alle Kategorien <span class="count">(3601)</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-home"></i>Transport/Umzug <span class="count">(192)</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-road"></i>Sonstiges  <span class="count">(194)</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-ok"></i>Technik  <span class="count">(127)</span></a></li>
        </ul>
    </div>
    <div class="sidebar_box">
        <h3 class="sidebar_title">legende</h3>
        <ul class="list-inline categories">
            <li><a href="#"><i class="glyphicon glyphicon-star"></i>Open</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-star"></i>Running out of time</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-star"></i>Closed</a></li>
        </ul>
    </div>
</div>